In [ ]:
import pandas as pd

data= {
    'nome': ['alice', 'bob', 'clara'],
    'idade': [25, 30, 35],
    'cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']
}

#conversao do dicionario em dataFrame
df= pd.DataFrame(data)

#Exibicao do DataFrame completo
print(df)

#selecao de uma ou mais colunas
print("\nseleciona somente a coluna nome")
print(df['nome'])

#selecionar multiplas colunas
print("\nseleciona as colunas nome e idade")
print(df[['nome', 'idade']])

#filtrar um novo dataFrame que comtem appenas as linhas com pessoas com mais de 28 anos
print("pessoas com mais de 28 anos")
df_maior_28= df[df['idade']>28]
print(df_maior_28)

#adicao de uma nova colula salario
df['salario']= [5000, 6000, 7000]
print("\nDataFrame com a nova coluna salario")
print(df)

    nome  idade          cidade
0  alice     25       São Paulo
1    bob     30  Rio de Janeiro
2  clara     35  Belo Horizonte

seleciona somente a coluna nome
0    alice
1      bob
2    clara
Name: nome, dtype: object

seleciona as colunas nome e idade
    nome  idade
0  alice     25
1    bob     30
2  clara     35